[flake8]
# Игнорируем E501 (линий слишком длинные) и E231 (отсутствие пробела после запятой)
ignore = E501,E231

# Максимальная длина строки для Flake8 (обычно это значение совпадает с настройками Black)
max-line-length = 120

# Используйте Black для форматирования файлов (дополнительная настройка для Flake8)
extend-ignore = E203

# Дополнительные параметры для интеграции с Black
inline-quotes = double  # Используйте двойные кавычки (Black также использует двойные кавычки)